.cart-product {
  margin: 20px;
  min-height: 80vh;
}

table {
  box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
  width: 100%;
}

table td {
  text-align: center;
}

.total-price {
  display: flex;
  justify-content: end;
  margin: 40px 20px;
  font-weight: 800;
}

.rmv-btn {
  background-color: var(--red);
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.rmv-btn img {
  width: 2vw;
}

.rmv-btn:hover {
  background-color: #222;
}

.empty-cart {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
  font-weight: 800;
}
