.cart-product {
  margin: 20px;
  min-height: 80vh;
}

table {
  box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
  width: 100%;
}

table td {
  text-align: center;
}

.total-price, .desconto {
  color: white;
  font-weight: 800;
  border-radius: 16px;
  background-color: #D00000;
  width: 12%;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}