:root {
  --black: #222;
  --red: #D00000;
}

.product-card {
  color: white;
  border-radius: 8px;
  width: 345px;
  min-height: 532px;
  background-color: var(--black);
  margin: 10px;
  transition: .25s;
  box-shadow: rgb(0 0 0 / 1%) 0 10px 15px -3px, rgb(0 0 0 .5%) 0 4px 6px -2px;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
}

.add-to-cart {
  background-color: var(--red);
  border-radius: 8px;
  max-width: 146px;
  text-align: center;
}

.thumb {
  width: 325px;
  height: 420px;
  padding: 10px;
  border-radius: 16px;
}

.add-to-cart:disabled {
  background-color: grey;
  cursor: auto;
}

.price, .out {
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 8px;
  margin: 20px;
  font-size: 22px;
  font-weight: 800;
}

.title {
  font-size: 18px;
  text-align: center;
}

.price {
  background-color: darkgreen;
}

.out {
  color: white;
  background-color: #D00000;
}